
@{
    ViewBag.Title = "View";
}
<div id="homeImage">
    <br/>
    <ul>
        <li id="li1"><a href="~/display/127.0.0.1/5400"> Show flight location </a></li>
        <li id="li1"><a href="~/display/127.0.0.1/5400/4"> Show flight route </a></li>
        <li id="li1"><a href="~/save/127.0.0.1/5400/4/10/flight1"> Save flight data </a></li>
        <li id="li1"><a href="~/display/flight1/4"> Show flight data </a></li>
    </ul>

</div>







